:root {
    --footer-text-color: #a8a8a8;
}

body {
    background-color: black;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 24px;
    padding-top: 30px;
    color: #F5F5F5;
    text-align: center;
    font-weight: bold;
}

p {
    margin-top: 30px;
    color: #F5F5F5;
    text-align: center;
}

a {
    color: #E0F1FF;
    text-decoration: none;
    padding-left: 5px;
}

/* Styles pour la barre latérale et le contenu principal */
.sidebar-line {
    position: absolute;
    top: 0;
    left: 335px;
    width: 1px;
    height: 100%;
    background-color: #303030;
}

.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom-list {
    list-style: none;
    padding: 0;
    margin-top: 235px;
}

.bottom-list a {
    margin-bottom: 20px;
}

.bottom-list li {
    margin-bottom: 35px;
}

.bottom-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu-list li {
    margin: 15px 0;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu-list svg {
    margin-right: 15px;
}

.bottom-list svg {
    margin-right: 15px;
}

.main-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
}

.page-footer {
    text-align: center;
    font-weight: lighter;
    padding: 40px;
    margin-top: 635px;
    margin-left: 60px;
}

.links-container {
    text-align: center;
    margin-bottom: 20px;
}

.links-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-list li {
    margin: 0 6px;
    margin-bottom: 10px;
}

.links-list li a {
    color: var(--footer-text-color);
    font-size: 12px;
    text-decoration: none;
}

.footer-span {
    color: var(--footer-text-color);
    font-size: 12px;
    margin-top: 20px;
}

.instagram {
    margin-top: 10px;
    margin-bottom: 5px;
}

.text {
    margin-left: 80px;
    position: relative;
    top: -35px;
}

.bottom-nav {
    display: none;
}

.mobile-text {
    display: none;
}

.notext-menulist {
    display: none;
}

.notext-bottomlist {
    display: none;
}

@media (max-width: 1024px) {
    .page-footer {
        margin-top: 400px;
    }

    .sidebar {
        
        width: 75px;
    }

    .bottom-list {
        display: none;
    }

    .menu-list {
        display: none;
    }

    .notext-menulist li {
        margin: 10px 0;
        margin-right: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    
    .notext-menulist li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .notext-menulist svg {
        margin-right: 15px;
    }

    .notext-menulist {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-right: 25px;    
    }

    .notext-bottomlist li {
        margin: 10px 0;
        margin-right: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    
    .notext-bottomlist li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .notext-bottomlist svg {
        margin-right: 15px;
    }

    .notext-bottomlist {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-top: 90px;
        margin-right: 25px; 
    }

    .instagram-icon {
        position: relative;
        top: -15px;
        margin-bottom: 20px;
    }

    .sidebar-line {
        left: 75px;
    }

    .page-footer {
        margin: 0;
        position: absolute;
        top: 600px;
        left: 75px;
    }

    .page-footer {
        font-size: 10px; /* Réduisez la taille de la police */
        margin: 10px 0; /* Ajustez les marges */
    }

    .page-footer a {
        margin: 0 2px;
    }
    
    .main-content {
        margin: 0;
    }
}

@media (max-width: 1280px) {
    .instagram-icon {
        position: relative;
        top: -15px;
        margin-bottom: 20px;
    }

    .main-content {
        margin-right: 100px;
    }

    .page-footer {
        position: absolute;
        margin: 0;
        top: 560px;
        left: 215px;
    }

    .menu-list li {
        margin-bottom: 33px;
    }

    .bottom-list {
        margin: 0;
        position: absolute;
        top: 605px;
    }

    .bottom-list li {
        margin-bottom: 30px;
    }

    .sidebar-line {
        left: 240px;
    }
}

@media (max-width: 1600px) {
    .bottom-list {
        margin: 0;
        margin-top: 190px;
    }
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .text {
        display: none;
    }

    .return {
        position: relative;
        top: -30px;
    }

    .mobile-text {
        display: block;
        text-align: center;
    }

    .mobile-text a {
        color: #E0F1FF;
        display: inline; /* Assurez-vous que le lien est en ligne avec le texte */
        padding: 0;
    }

    .main-content {
        margin: 0;
        padding: 20px;
        padding-bottom: 60px;
    }

    .page-footer {
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #000;
        border-top: 1px solid #303030;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }

    .bottom-nav a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .bottom-nav svg {
        width: 24px;
        height: 24px;
    }

    .page-footer {
        display: none;
    }
}
